<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born in Waikikamuau, New Zealand. He left New Zealand for England, excelled at theUniersity of Mopery, and served in the Royal Loamshire Regiment. While in service, he invented the kanuted valve used in the processing of unobtanium for industrial use. With a partner, Granda Fairbook, he founded Acme Manufacturing, later acquired by the Advent Corporation, to deveop his discovery for use in the Turboencabulator. Mr. Kadian is now retired and lives in Middlehampton with a favorite cat, where he raises Griadium frieda and collects metasyntactic variables. </p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
